
h1 {
    color: rgb(253, 237, 8);
    margin-bottom: 30px;
}

/** {
    border: solid;
}*/

.header *{

    border:solid;
   
}

.header{

background-color: rgb(248, 9, 9);
display: flex;
justify-content: space-between;
}

.site-description{

    display: flex;
    flex-direction: column;
    justify-content: first baseline;

}

.grid{

    display: flex;
    flex-wrap: wrap ;
    justify-content:space-evenly;


}

.footer{

    display: flex;
    justify-content: flex-end;

}

p,h2{

    text-align: center;

}

body{

    background-color: #055bfc;

}

a:link{

    color: chartreuse;

}

a:visited{

    color:cyan ;

}

.menu{

    margin-left: 30px;

}

.item{

    position: relative;
    
}

.item p{

    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%)
    
}

.item:hover p{

    opacity: 1;

}

.item:hover img{

    opacity: 0.40;

}

/* https://dakshagarwal008.github.io/My-Portfolio-Page/*/